.select-view-container{
    display: flex;
    flex-direction: row;
}
 
.side-view{
    display: flex;
    height: 50%;
    width:300px;
    justify-content: center;

    margin-left: 200px;
}

.side-view--cat{
  
    flex-direction: column;
    font-weight: bold;
    font-size: 45px;

}
.side-view--cat > div {
    font-size: 15px;
    padding-top: 40px;
    margin-left: 10px;
   

}
