.container {
    padding: 30px auto;
}

.content {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

h1 {
    font-size: 40px;
    text-align: center;
}

.categories_selection {
    display: flex;
    justify-content: space-between;
    margin: 20px 160px;
}

#next-people {
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
    border: solid 2px rgb(13, 184, 241);
    border-radius: 2%;
    margin: 10px;
    padding: 30px;
    flex-direction: column;
}

#next-people__detail {
    margin: 20px auto;
    padding: 50px auto;
    justify-content: space-between;
}

table {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

td {
    padding: 15px 50px;
}

#next-people__btn {
    font-size: 14px;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 50px auto;
    justify-content: space-between;
}

button {
    width: 100px;
    margin: 30px;
}

#prev {
    color: white;
    background-color: #34b934;
    text-align: center;
    padding: 10px 10px;
    border-color: #34b934;
    border-radius: 8%;
}

#next {
    color: white;
    background-color: #00e1ff;
    text-align: center;
    padding: 10px 10px;
    border-color: #00e1ff;
    border-radius: 10%;
}