.heading{
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    padding: 50px 0;
}

.container{
    margin-right:250px;
    display: flex;
    justify-content: space-around;
}

.categories{
    font-weight: bold;
    display: flex;
    flex-direction: column;
}



.display-details{
    width: 500px;
    height: 500px;
    border: 2px solid rgb(114, 147, 151);
    border-radius: 1%;
}

.display-details__content{
    height:350px ;
    padding: 50px 0 0 70px;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    word-spacing: 2px;
}

.buttons{
    display: flex;
    justify-content: space-around;
}

.btn{
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 4px 2px;
  border-radius: 5%;
  cursor: pointer;
}

.btn__prevbtn{
    background-color: #319804;
}

.btn__nextbtn{
    background-color: #2196EF;
}