
	#main-header{
		text-align: center;
	}
	.categories{
		width: 250px;
		height: 300px;
		background-color: white;
		margin: 50px;
		float: left;
		
	}

	#cat{
		color: black;
		padding-left: 20px;
		font-style: normal;
		font-size: 20px;
	}
	.main-content{
		width: 400px;
		height: 525px;
		background-color: white;
		margin-top: 50px;
		margin-left: 400px;
		border-style: solid;
		border-color: grey;
		padding-top: 10px;
		padding-left: 50px;
	}
	#tejas{
		display: none;
	}
	.pp{
		float: left;
	}
	#right{
		color:#2D2B2F;
		padding-left: 30px;
	}
	#left{
		
		padding-left: 50px;
	}
	.previous {
  background-color: green;
  color: white;
}

.next {
  background-color: blue;
  color: white;

}
button{
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
}
button:disabled{
	background-color: darkgrey;
	color: grey;
}
button:disabled:hover {
 background-color: darkgrey;
	color: grey;
}
button:hover {
  background-color: #ddd;
  color: black;
}

