.previous
{
    background-color: #00BFFF;
    width: 100px;
    height: 40px;
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: normal;
    cursor: pointer;
}
.next
{
    background-color:#32CD32;
    width: 100px;
    height: 40px;
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: normal;
    margin-top: 35px;
}