body {
    background-color: #f0d2f1;
    font-family: var(--website-font-family);
}

.container {
    max-width: var(--max-screen-width-desktop);
    padding: 30px auto;
    padding: var(--container-padding);
}

.content {
    display: flex;
    margin: 40px 0;
}