:root {
    --max-screen-width-desktop: 1220px;
    --container-margin: 40px auto auto auto;
    --website-background-color: #ffffff;
    --website-font-family:  sans-serif;
    --website-font-color : black;
    --website-transition : all 0.5s;
  }
  