.wrapper {
    padding: 30px auto;
    font-family:  sans-serif;
    background-color: antiquewhite;
}

.dispaly-details {
    display: flex;
    justify-content: center; 
 
}

h1 {
    font-size: 60px;
    text-align: center;
}

.categories_selection {
    display: flex;
    justify-content: space-between;
    margin: 20px 160px;
}

#people {
    display: flex;
    justify-content: center;
    border: solid 2px rgb(6, 106, 139);
    border-radius: 2%;
    margin: 8px;
    padding: 40px;
    flex-direction: column;
}

