
.main-body__btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: auto 50px;
    background-color: darkgreen;
    color: white;
    border: none;
}

.main-body__btn__blue {
    background-color: dodgerblue;
}

