
button
{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-weight: normal;
    cursor: pointer;
    outline: none;
}

.previous
{
    background-color: #00BFFF;
    color: white;
    
}
.next
{
    background-color:#32CD32;
    color: white;
}

.previous:hover 
{
    background-color: gold;
    color:var(--website-font-color);
    transition: var(--website-transition);
}
.next:hover{
    background-color: gold;
    color:var(--website-font-color);
    transition: var(--website-transition);
}