.subcontainer{
    display:flex;
    padding: 0px 50px 40px 200px;
    height: 100%;
}
.categories{
    display:flex;
    flex-direction:column;  
    padding:0px 200px 0px 100px;
    
}

.category-heading{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: var(--container-font-weight);
}
.category-heading--btn{
    font-size: var(--radionbtn-font-size);
}
.information{
    display:flex;
    width:500px;
    height: 600px;
    padding: 25px 50px 50px 50px;
    border: 3px solid #2166e6;
    border-radius: 8px;
}
.information__information-label{
   display:flex;
   flex-direction: column;
   font-weight: var(--container-font-weight);
   justify-content: space-around;
   padding:0px 50px;
   border: none;
}
.information__information-label--information-value{
    padding:0px 70px;
    font-weight: unset;
}
