.main-body__display-box {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: blue;
    border-width: 2px;
    position: relative;
}

.main-body__display-content {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 20px auto;
}

.main-body__display-each-column {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.main-body__btn__container {
    position: absolute;
    bottom: 30px;
}
