.main-body__display-box {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: blue;
    border-width: 2px;
    position: relative;
}

.display-box__list {
    display: flex;
    margin-bottom: 30px;
}

.display-box__list--content {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main-body__btn-container {
    position: absolute;
    bottom: 30px;
}
