
.radio-button-section{
    width: var(--radio-button-width);
    height:var(--radio-button-height);
    background-color:var(--radio-color);
    padding-left: 50px;
    padding-top: 50px;
    float: left;


}
.Categories{
    color: black;
    padding-left: 20px;
    font-style: normal;
    font-size: 20px;
   
}
.content-show{
        width: 400px;
		height: 525px;
		background-color:var(--content-color);
		margin-left: 200px;
		border-style: solid;
        border-color: lightblue;
        border-radius: 25px;
		padding-top: 10px;
        padding-left: 50px;
        float: left;
        display: var(--content-display);

        
}
.information {
    display: block;
}
.content{
    float: left;
}
.right{
    color:#2D2B2F;
    padding-left: 30px;
}
.left{
    
    padding-left: 50px;
}
